# create by https://github.com/iamcco/coc-gitignore (Fri Apr 17 2020 11:33:16 GMT-0500 (hora estándar de Perú))
# ArchLinuxPackages.gitignore:
*.tar
*.tar.*
*.jar
*.exe
*.msi
*.zip
*.tgz
*.log
*.log.*
*.sig

pkg/
src/

chat-server-git/
